#confirm-dialog-screen {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  display: flex;
  text-align: center;
  justify-content: center;
  z-index: 1;
}

#confirm-dialog-box {
  width: 50%;
  /* margin: auto; */
  background-image: url(../images/conversation/confirmDialogBox.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
}

#confirm-dialog-contents {
  width: 100%;
}
#confirm-dialog-text {
  font-family: 'Honoka Shin Mincho', serif;
}

#confirm-dialog-buttons input[type="button"] {
  color: #ffffff;
  font-family: 'Honoka Shin Mincho', serif;
  width: 30%;
}
#confirm-dialog-buttons .btn-yes {
  background-color: #447576;
}
#confirm-dialog-buttons .btn-no {
  background-color: #6B6B6B;
}

#confirm-dialog-box img{
    width: 100%;
}