#game-data-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: url(../images/game-data/game-data-background.png);
    background-size: cover;
    z-index: 3;
}

#game-data-header {
    position: relative;
    width: 100%;
    height: 15.2%;
}

#game-data-title {
    position: absolute;
    top: 56%;
    left: 13%;
}

#game-data-close {
    position: absolute;
    width: 18%;
    height: 60%;
    bottom: 0%;
    right: 23%;
    background-image: url(../images/game-data/game-data-close-normal.png);
    background-size: cover;
}
#game-data-close:hover {
    background-image: url(../images/game-data/game-data-close-hover.png);
}

#game-data-body {
    width: 90%;
    height: 82%;
    margin: auto;
    overflow-y: scroll;
}
#game-data-body::-webkit-scrollbar {
    width: 10px;
}
#game-data-body::-webkit-scrollbar-thumb {
    border-radius: 0.25rem;
}
#game-data-body::-webkit-scrollbar-thumb {
    --bg-opacity: 1;
    background-color: black;
}

#game-data-list {
    height: inherit;
    /* margin: 0; */
}

.game-data-item {
    width: 90%;
    height: 27%;
    background-image: url(../images/game-data/data-item-normal.png);
    background-size: cover;
    /* margin: 0; */
    margin: 10px 0px;
}
.game-data-item:hover {
    background-image: url(../images/game-data/data-item-hover.png);
}