@charset "utf-8";

#date {
  position: absolute;
  width: 10%;
  height: 6%;
  /* top: 15px;
    left: 20px; */
  top: 5%;
  left: 2%;
  background-color: rgba(0, 0, 0, 0.582);
  text-align: center;
  z-index: 2;
  font-family: "Noto Serif JP", serif;
}

#date p {
  margin: 0 auto;
  width: 100%;
  font-size: 2vw;
}

#mapBackground {
  width: 100%;
  height: 100%;
}
#mapScreen {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

#mapWrapper {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.582);
  z-index: 2;
}

#mapItems {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
}

.map-touch .map-title-button{
  position: absolute;
  background-image: url(../images/map-screen/map2-button-normal.png);
  background-size: cover;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.map-touch img{
  visibility: hidden;
}
.map-touch .map-title-button:hover + img{
  visibility: visible;
}
.map-touch .map-title-button:hover{
  background-image: url(../images/map-screen/map2-button-hover.png);
}
.map-touch p{
  display: none;
  position: absolute;
  bottom: -30%;
}
.map-touch map:hover + p{
  display: block;
}


/* 医務室 */
#medical-room {
  width: 15%;
  top: 36%;
  left: 23.9%;
}
#medical-room .map-title-button{
  width: 165%;
  height: 30%;
  bottom: -8%;
  right: 62%;
}
/* 仮想訓練室 */
#virtual-training-room {
  width: 10.2%;
  top: 29%;
  right: 16.7%;
}
#virtual-training-room .map-title-button{
  width: 236%;
  height: 22%;
  top: -26%;
  left: -69%;
}
/* 開発実験室 */
#development-laboratory {
  width: 19%;
  top: 46%;
  left: 1%;
}
/* 格納庫 */
#hangar {
  width: 30.2%;
  top: 7.4%;
  left: 7.2%;
}
/* 基地正門 */
#base-main-gate {
  width: 11%;
  bottom: 2.5%;
  left: 48%;
  position: absolute;
}
/* 作戦会議室 */
#conference-room {
  width: 9.7%;
  top: 40.2%;
  right: 28.8%;
}
/* 司令室 */
#control-room {
  width: 12%;
  top: 49.5%;
  right: 43.6%;
}

.map-touch {
  position: absolute;
}
.map-touch img {
  width: 100%;
  animation: flash 4.5s linear infinite;
}
/* 点滅アニメーション */
@keyframes flash {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0.5;
  }
}

#mapSelectFloat {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  width: 60%;
  height: 50%;
  background-color: rgba(255, 255, 255, 1);
  font-family: "Noto Serif JP", serif;
}

#placeName {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -10%);
  width: 80%;
  height: 20%;
  color: #000;
  text-align: center;
  font-size: 2vw;
}

#mapSelectButton {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  width: 100%;
  height: 35%;
  display: flex;
}

#mapSelectButton div {
  width: 40%;
  height: 50%;
  color: #000;
  background-color: yellow;
  border-radius: 25px;
  text-align: center;
  margin: 10px auto;
  margin-top: 0;
  font-size: 1.2vw;
}

#mapCharacterList {
  position: absolute;
  left: 50%;
  bottom: 5%;
  transform: translate(-50%, 5%);
  border: 1px solid #000;
  width: 90%;
}

#mapCharacterList ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  display: flex;
}

#mapCharacterList ul li {
  background-color: #000;
  width: 20%;
  height: 20%;
  margin: 0px auto;
  border-radius: 50%;
  overflow: hidden;
}
#mapCharacterList ul li img {
  width: 100%;
  object-fit: cover;
}

#mapTextCover {
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: "Noto Serif JP", serif;
  background-image: url(../images/map-screen/map1_background.png);
  background-size: cover;
  z-index: 1;
}

#mapTextCover::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 44%;
  height: 76%;
  background-image: url(../images/map-screen/map1_background_bottom.png);
  background-size: cover;
}

#mapTextCover::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 15%;
  height: 26%;
  background-image: url(../images/map-screen/map1_background_top.png);
  background-size: cover;
}

#mapTextCharacter img {
  width: 100%;
  object-fit: cover;
}
#mapTextCharacter {
  /* flex: 1; */
  position: absolute;
  bottom: -1%;
  left: 16%;
  width: 22%;
}

#map1TextDate {
  position: absolute;
  right: 22%;
  top: 22%;
  font-size: 4vw;
  font-weight: 700;
}

#map2TextDate {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0%;
  top: 0%;
  width: 30%;
  height: 10%;
  font-size: 2vw;
  font-weight: 500;
  background-image: url(../images/map-screen/map2TextDate.png);
  background-size: cover;
}

#speechBubble p.textarea {
  color: #000;
  text-align: center;
  font-size: 1.5vw;
  padding-bottom: 5%;
}
#speechBubble {
  position: absolute;
  width: 32%;
  height: 22%;
  bottom: 32%;
  right: 14%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-image: url(../images/map-screen/map1_Hukidashi.png);
  font-family: "Noto Serif JP", serif;
}

#mapClickText {
  position: absolute;
  width: 28%;
  height: 4%;
  bottom: 23%;
  right: 16%;
  background-image: url(../images/map-screen/map1_click_text.png);
  background-size: cover;
}

#mapTextFloat {
  position: absolute;
  bottom: 0%;
  left: 0%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44%;
  height: 17%;
  background-image: url(../images/map-screen/map2TextFloat.png);
  background-size: cover;
}
#mapTextFloat.op0 {
  z-index: -1;
}

#mapTextIcon {
  width: 15%;
  background-color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#mapTextIcon img {
  width: 100%;
}

#FloatSpeechBubble {
  width: 66%;
  height: 100%;
  display: flex;
}

#FloatSpeechBubble .textarea {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  margin: auto;
  padding-left: 8%;
  font-size: 1.2vw;
  text-shadow: 1px 2px 3px #808080;
}

#FloatCheck p {
  margin: 0 auto;
  width: 100%;
  font-size: 2vw;
}
#FloatCheck {
  position: absolute;
  /* top: 15%;
    right: 20%; */
  top: 5%;
  right: 2%;
  width: 10%;
  height: 6%;
  /* line-height: 50px; */
  background-color: rgba(0, 0, 0, 0.4);
  text-align: center;
  /* font-size: 1.2rem; */
  z-index: 2;
}
