@charset "utf-8";
/* フォント */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@200&display=swap');

body{
    margin: 0;
}
/* 画面全般 */
#frame{
    /* width: 80%; */
    width: 600px;
    height: 450px;
    margin: auto;
}
#screen{
    width: 90%;
    height: 90%;
    margin: 10px auto;
    background-color: #000;
    color: #fff;
    position: relative;
}
#background{
    width: 100%;
    height: 100%;
}

/* タイトル表示(仮) */
.msg-txt{
    width:40%;
    height:20%;
    line-height: 320%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1em;
    background-color: rgba(0, 0, 0, 0.582);
    font-weight: bold;
    z-index: 2;
    font-family: 'Noto Serif JP', serif;
}

/* オート・非オート表示 */
#autocheck{
    position: absolute;
    bottom: 10%;
    right: 10%;
    z-index: 2;
    font-family: 'Noto Serif JP', serif;
}
/* 一枚目テキスト */
#one-picture{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    transition: 500ms;
    z-index: 2;
}
#one-picture.op0{
    z-index: 0;
}
#one-picture-text{
    position: absolute;
    width: 80%;
    height: 80%;
    top: 10%;
    left: 10%;
    font-size: 1.5em;
    font-family: 'Noto Serif JP', serif;
}
#one-picture-text span{
    transition: 250ms;
}
/* テキスト表示画面 */
#dialogue{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.582);
    width: 90%;
    height: 30%;
    padding: 5px;
    font-family: 'Noto Serif JP', serif;
}
#dialogue-name-area{
    height: 20%;
    font-size: 1em;
}
#dialogue-text-area{
    line-height: 2em;
    text-align: justify;
    margin: auto;
    font-size: 1.2em;
}
#dialogue-text-area span{
    transition: 250ms;
}
/* キャラクター */
#character-area{
    position: absolute;
    top: 7%;
    display: flex;
    width: 100%;
}
#character-area div{
    margin: 0 auto;
    width: 30%;
}
#character-area div img{
    width: 100%;
    object-fit: fill;
}
/* 暗転する */
#darkening-floor{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 3;
    transition: 500ms;
}
#darkening-floor.op0{
    z-index: -1;
}
/* 非表示(完全に) */
.none{
    display: none;
}
/* 非表示(透明) */
.op0{
    opacity: 0;
}
/* #dialogue-text-area .op0:first-child::after{
    width: 20px;
    height: 10px;
    background-color: #ffffff;
} */
/* 赤文字 */
.red{
    color: #f00;
}
/* 大文字 */
.large{
    font-size: 1.5em;
}