#title-flex {
    display: flex;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: none;
    /* background-image: url(../images/titleanimation.gif); */
    background-size: cover;
}

#title-logo {
    flex: 6;
    position: relative;
}

#title-logo img {
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
}

#title-list {
    position: relative;
    flex: 4;
}

#title-list ul{
    position: absolute;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    margin: 0;
    padding-left: 0;
}

#title-list ul li{
    list-style: none;
    font-size: 2vw;
    font-weight: 100;
    margin: 10px;
    text-align: center;
    justify-content: center;
}

#title-list ul li.on-cursor{
    background-image: url(../images/cursor.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 40%;
}