@charset "utf-8";

body{
    margin: 0;
}

#frame{
    /* width: 80%; */
    min-width: 1024px;
    min-height: 768px;
    width: 100%;
    height: 100%;
    margin: auto;
}

#screen{
    /* width: 90%;
    height: 90%; */
    width: 100%;
    height: 100%;
    /* margin: 10px auto; */
    margin: auto;
    background-color: #000;
    color: #fff;
    position: relative;
}

.msg-txt{
    width:40%;
    height:20%;
    line-height: 320%;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.2em;
    background-color: rgba(0, 0, 0, 0.582);
    font-weight: bold;
    z-index: 2;
}

.none{
    display: none;
}

#background{
    width: 100%;
    height: 100%;
}

#dialogue{
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 10%);
    z-index: 1;
    /* opacity: 0.8; */
    background-color: rgba(0, 0, 0, 0.582);
    width: 90%;
    height: 30%;
    line-height: 2em;
    text-align: justify;
    margin: auto;
    font-size: 1.2em;
    padding: 5px;
}

#date{
    position: absolute;
    width: 10%;
    height: 6%;
    top: 15px;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.582);
    text-align: center;
    font-size: 2em;
    z-index: 2;
}

#mapScreen {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#mapWrapper{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.582);
    z-index: 2;
}

#mapItems{
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

#mapSelectFloat{
    position: absolute;
    /* position: relative; */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    width: 60%;
    height: 50%;
    background-color: rgba(255, 255, 255, 1);
}

#placeName{
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translate(-50%,-10%);
    width: 80%;
    height: 20%;
    color: #000;
    text-align: center;
    font-size: 2rem;
}

#mapSelectButton {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 35%;
    display: flex;
}

#mapSelectButton div{
    width: 40%;
    height: 50%;
    color: #000;
    background-color: yellow;
    border-radius: 25px;
    text-align: center;
    margin: 10px auto;
}

#mapCharacterList{
    position: absolute;
    left: 50%;
    bottom: 5%;
    transform: translate(-50%,5%);
    border: 1px solid #000;
    width: 90%;
    height: 40%;
}

#mapCharacterList ul{
    margin: 0;
    padding-left: 0;
    list-style-type: none;
    display: flex;
}

#mapCharacterList ul li{
    background-color: #000;
    width: 20%;
    height: 20%;
    margin: 0px auto;
    border-radius: 50%;
    overflow: hidden;
}
#mapCharacterList ul li img{
    width: 100%;
    object-fit: cover;
}


#mapTextCover {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    /* display: flex; */
    background-color: rgba(0, 0, 0, 0.4);
}

#mapTextCharacter img{
    width: 100%;
    object-fit: cover;
}
#mapTextCharacter{
    /* flex: 1; */
    position: absolute;
    bottom: 0%;
    left: 5%;
    width: 25%;
}

#speechBubble p.textarea{
    /* margin: 10px auto; */
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 75%;
    transform: translate(-50%,-50%);
    color: #000;
    text-align: center;
}
#speechBubble{
    position: relative;
    width: 38%;
    height: 18%;
    top: 25%;
    left: 30%;
    text-align: left;
    background-size: cover;
    background-image: url(../images/e0186_1.png);
}

.op0{
    opacity: 0;
}

.red{
    color: #f00;
}

.large{
    font-size: 1.5em;
}